@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="container">

        <div class="row">
            <div class="col-md-6 text-start text-white">
                <p class="jumbotron p-3">
                    Sed nec elit verstibulum, <b>tincidunt orci</b> et, sagittis ex. Vestibulum rutrum <b>neque suscipit</b> ante mattis maximus. Nulla non sapien <b>viverra, lobortis lorem non</b>, accumsan metus.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="jumbotron text-white">
                    Tulevased üritused
                </div>

                <div class="text-start bg-white">
                    <ol>
                        <li>
                            <div class="row">
                                <div class="col-md-6">
                                    aenean commodo
                                </div>
                                <div class="col-md-2">
                                    14.02.2016
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-sm p-0">
                                        OSAVÕTJAD
                                    </button>
                                    <button type="button" class="btn btn-sm p-0">
                                        X
                                    </button>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-md-6">
                                    Fusce ex dui, finibus eu  luctus vel
                                </div>
                                <div class="col-md-2">
                                    18.02.2016
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-sm p-0">
                                        OSAVÕTJAD
                                    </button>
                                    <button type="button" class="btn btn-sm p-0">
                                        X
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ol>

                    <div>
                        LISA ÜRITUS
                    </div>

                </div>
                

            </div>
            <div class="col-md-6">

                <div class="jumbotron text-white">
                    Toimunud üritused
                </div>

                <ol class="text-start bg-white">
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                aenean commodo
                            </div>
                            <div class="col-md-3">
                                14.01.2016
                            </div>
                            <div class="col-md-3">
                                OSAVÕTJAD X
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                Fusce ex dui, finibus eu  luctus vel
                            </div>
                            <div class="col-md-3">
                                18.12.2015
                            </div>
                            <div class="col-md-3">
                                OSAVÕTJAD X
                            </div>
                        </div>
                    </li>
                </ol>

            </div>
        </div>

    </div>
</div>

